//colors

$grey:#8c8c8c;//for text
$lightGrey:#e3e3e3;
$darkGrey:#484848;//for titles
$blue:#26a6d1;
$white:#ffffff;


$fontGilroyBold:'GilroyBold',sans-serif;
$fontGilroyLight:'GilroyLight',sans-serif;
$fontMainFira:'Fira Sans Extra Condensed', sans-serif;
