.menu{
	display:table;
	width:100%;
	height: 50px;

	&__cell{
		list-style: none;
		display: table-cell;
		text-align: center;
		margin: 0 10px;
		vertical-align: middle;

		a{
			color:$grey;
			text-decoration: none;
			text-transform: uppercase;
			display:block;

			h5{
				font-size: 14px;
				font-weight: 400px;
			}
		}
	}

	&__cell:hover{
		background:$lightGrey;
	}
}
